<mat-toolbar color="primary">
  <mat-icon>task_alt</mat-icon>
  <span>CAB To-Do-List</span>
</mat-toolbar>

<div class="content-wrapper">

  <button (click)="newTask()" mat-button>
    <mat-icon>add</mat-icon> Add Task
  </button>

  <div class="container-wrapper">
    <div class="container">
      <h2>To Start</h2>


      <mat-card cdkDropList id="todo" class="list" #todoList="cdkDropList" [cdkDropListData]="todo | async" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[inProgressList, doneList]">
        <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
        <app-task cdkDrag *ngFor="let task of todo | async" [task]="task" (edit)="edit('todo', $event)"></app-task>
      </mat-card>
    </div>
 
    <div class="container">
      <h2>In Progress</h2> 
      <mat-card cdkDropList id="inProgress" class="list" #inProgressList="cdkDropList" [cdkDropListData]="inProgress | async" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[todoList, doneList]">
        <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">Empty list</p>
        <app-task cdkDrag *ngFor="let task of inProgress | async" [task]="task" (edit)="edit('inProgress', $event)"></app-task>
      </mat-card>
    </div>

    <div class="container">
      <h2>Done </h2>
      <mat-card cdkDropList id="done" class="list" #doneList="cdkDropList" [cdkDropListData]="done | async" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[inProgressList, todoList]">
        <p class="empty-label" *ngIf="(done | async)?.length === 0">Empty list</p>
        <app-task cdkDrag *ngFor="let task of done | async" [task]="task" (edit)="edit('done', $event)"></app-task>
      </mat-card>
    </div>
  </div>
</div>